html,body {
    margin: 0%;
    padding: 0%;
    
}

/* for header div */

header {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 80px;
    opacity: 0.9;
    
    border-bottom: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.header {
   
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.moon {
    width: 70px;
    height: 70px;
    text-indent: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: grey;
    transition: 10s;
}
.moon2 {
    
    transform: translateX(300%) rotateZ(360deg);
    
}
.aDiv {
    padding: 10px;
}



/* for main div */
.mainDiv {
    max-width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.FirstContainer {
    display: flex;
    
}

.FirstChild1 {
    width: 50%;
    height: 500px;
    padding: 20px;
}

.FirstChild2 {
    width: 50%;
}

.myimage {
    width: 100%;
    border-radius: 50%;
}

h1 {
    margin: 0%;
}

/* for footer div */

footer {
    width: 100%;
    height: 200px;
    background-color: blue;
}

/* for flex 900px*/

@media (max-width:1000px) {

    .FirstContainer {
        
        flex-direction: column;
        
    }
    .FirstChild1 {
        width: 100%;
    }

    .FirstChild2 {
        width: 100%;
    }
    
}