html,body {
    margin: 0;
    padding: 0%;
    height: 100vh;
    overflow-y: scroll;
    background-color: #4C6C6E;
}


#main {
    
}

#addButtonDiv {
    height: 130px;
    position: sticky;
    top: 0px;
    background: #232121;
    border-radius: 0px 0px 10px 10px;
    /* border: solid rgb(252, 248, 248) 1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.innerAddButtonDiv {
    width: 90%;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
}

#addButton {
    width: 109px;
    height: 77px;
    margin-top: 5px;
    color: #fff;
    background-color: #4C6C6E;
    border-radius: 17px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    
}

/* for show room */
#noteShowRoom {
    height: 100%;
    
}

.note {
    width: 90%;
    height: 100px;
    margin: 0% auto;
    background-color: #232121;
    color: #4C6C6E;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    
}

.failNoteClick {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 30px;
    box-sizing: border-box;
    padding-left: 20px;
}
/* inner note */

.innerNote {
    width: 100%;
    height: 100vh;
    background-color: beige;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
   
    
}

.innerNoteHead {
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #4C6C6E;
}


.exitButton {
    width: 100px;
}

.deleteButton {
    width: 100px;
}

.readerView {
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    padding: 20px;
    font-size: 15px;
    
}


/* for text Area */

.headWriteDiv {
    height: 70px;
}

#saveAndExit{
    width: 70px;
    height: 100%;
}

.writeArea {
    width: 100vw;
    height: 100%;
    background-color: aliceblue;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    font-size: 15px;
}

/* for setting */
.settingDiv {
    width: 50vw;
    height: 100%;
    background-color: aliceblue;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}


/* font size */
.font {
    font-size: 15px;
}
/* for show display */

.show {
    display: block;
}
